.list {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 7px;
  vertical-align: top;
  width: 300px;
  min-width: 300px;
  padding: 1rem 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.5rem;
  border: 0 solid;
  box-sizing: border-box;
}
.list_header {
  margin-left: 5px;
  padding-bottom: 3px;
  border-bottom: 4px solid #e3e3e3;
}
.title {
  display: flex;
  justify-content: space-between;
}
.element input {
  width: 175px;
  margin-right: 10px;
  height: 30px;
}
.input_submit {
  width: 80px;
  height: 35px;
  cursor: pointer;
}
.list_header h3 {
  margin-bottom: 5px;
  font-size: 1.05rem;
}
.list_header p {
  font-size: 0.8rem;
}
.delete {
  cursor: pointer;
  background: #e57373;
  color: #ffffff;
  padding: 3px 6px;
  border: 1px solid #e57373;
  height: 22px;
  font-size: 11px;
}
.task_add {
  cursor: pointer;
  background: #9d9d9d;
  border: none;
  height: 22px;
  margin-top: 10px;
  margin-left: 5px;
}
.content {
  max-height: 70vh;
  overflow: auto;
}
